body{
    background-color: black;
}

.container-2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-title{
    text-align: center; 
    color: black;
    font-family: 'Poppins';
    font-weight: 600;
}

.section-2-divhyperlink{
    display: flex;
}

.button-ingresar{
    text-align: center;
    color: white;
    width: 100%;
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.form-control{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.form-login{
    text-align: center;
    background: white;
    border-radius: .5vw;
    padding: 30px;
}

.section-2-bottom-1{
    background-color: black;
    border-radius: 7px;
    width: 100%;
    margin: 0; text-align: center;
    border: none;
    color: white;
    font-size: 1vw
}

.save-change{
    text-align: center;
    width: 100%;
    margin: 0;
}

.style-font, .bottom-2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12.2px;
}


.section-2-bottom-1:hover{
    scale: 1.1;
    transition: 0.5s;
}

.section-2-bottom-2:hover{
    scale: 1.1;
    transition: 0.5s;
}